button,
select {
  min-height: 1.5rem;
  min-width: 1.5rem;
  padding: 0 0.25em;
  border-radius: 99px;
  font-size: 16px;
  color: var(--comment);
  background-color: var(--background);
  border: 1px solid var(--comment);
}

#main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: var(--space-md) 0;
}

label:has(*:disabled),
button:disabled {
  opacity: 0.3;
}

#deck-controls,
#controls {
  display: flex;
  gap: var(--space-md);
}

#slide-display {
  position: relative;
  flex-grow: 1;
  width: 100%;
  margin: var(--space-md);
}

#slide {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 20rem;
  max-width: 35rem;
  perspective: 1000px;
}

#slide #toggle:checked+#content {
  transform: rotateY(-180deg);
  transition: transform 0.5s;
}

#slide #toggle:focus-visible+#content {
  outline: var(--cyan) auto 1px;
  outline-offset: 2px;
}

#toggle {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 1;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--foreground);
  color: var(--background);
  border-radius: var(--radius);

  transition: transform 1s;
  transform-style: preserve-3d;
}

#question,
#answer {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  user-select: none;
  padding: var(--space-md);

  display: flex;
  justify-content: center;
  align-items: center;
}

#answer {
  transform: rotateY(180deg);
}

#question *,
#answer * {
  display: flex;
  flex-flow: column nowrap;
  background: none;
}

#slide[data-correct] #content {
  outline: 0.5rem solid var(--green);
}

#slide[data-correct] #question::after,
#slide[data-correct] #answer::after {
  content: "✅";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  line-height: 2rem;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#slide-progress {
  width: 3rem;

  &[data-disabled="true"] {
    opacity: 0.3;
  }
}
