#intro {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 425px;
  height: 100vh;
  text-align: center;
  margin: auto;
}

#intro::after {
  content: 'See More ↓';
  position: absolute;
  bottom: var(--space-md);
  left: 0;
  right: 0;
  color: var(--comment);
  opacity: 0.8;
  transform: translateY(0);
  animation: fadeOut forwards, float 3s ease-in-out infinite;
  animation-range: 5vh 25vh;
  animation-timeline: view(), auto;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes float {
  50% {
    transform: translateY(var(--space-sm));
  }
}

#intro img {
  width: 100%;
  max-width: 12.5rem;
}

#intro h1 {
  margin-top: unset;
}

#links ul {
  list-style: none;
  padding: unset;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0 var(--space-md);
  font-size: 20px;
}

#links ul li a svg {
  width: 100%;
  max-width: var(--space-md);
  color: var(--foreground);
}
