#projects+ul {
  list-style: none;
  padding-left: unset;
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  gap: var(--space-md);
}

#projects+ul>li {
  flex-grow: 1;
  max-width: 100%;
  height: 11.5rem;
  margin: unset;
  display: inline-block;
  position: relative;
  border: 2px solid var(--comment);
  border-radius: var(--radius);
  overflow: hidden;
  transition: border-color var(--animation-duration);
}

#projects+ul>li:hover,
#projects+ul>li:focus-within {
  border-color: var(--cyan);
}

#projects+ul>li>img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: unset;
  user-select: none;
  pointer-events: none;
  opacity: 1;
  transition: opacity var(--animation-duration);
  background-image: url(/static/images/default.webp);
  background-size: contain;
  background-position: center;
}

#projects+ul>li>div,
#projects+ul>li>a {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

#projects+ul>li>div {
  padding: var(--space-sm);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  pointer-events: none;
}

#projects+ul>li>div a {
  pointer-events: auto;
}

#projects+ul>li>a,
#projects+ul>li:hover>img,
#projects+ul>li:focus-within>img {
  opacity: 0;
}

#projects+ul>li>div>:first-child {
  margin-top: 0;
}

#projects+ul>li>div>:last-child {
  margin-bottom: 0;
}

#projects+ul>li>div * {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: unset;
  margin: unset;
}

#projects+ul>li>div h3 {
  width: fit-content;
  margin-right: var(--space-lg);
  font-size: 20px;
  word-break: break-word;
}

#projects+ul>li>div p * {
  display: inline;
}

#projects+ul>li>div p a {
  z-index: 1000;
}

#projects+ul>li>div svg {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--space-lg);
  height: var(--space-lg);
  padding: var(--space-sm) var(--space-sm) 0 0;
}

#projects+ul>li>div ul {
  list-style: none;
  padding: unset;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  gap: var(--space-xs);
  max-height: calc(1.7rem + var(--space-xs));
}

#projects+ul>li>div ul li {
  background-color: var(--comment);
  color: var(--foreground);
  border-radius: 99px;
  padding: var(--space-xs) var(--space-sm);
  font-size: 14px;
  max-height: 1.7rem;
}

#projects+ul>li>div ul li p {
  margin: unset;
  white-space: nowrap;
  width: min-content;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

#projects+ul>li>div ul li p .language-dot {
  display: inline-block;
  border-radius: var(--space-xs);
  width: var(--space-sm);
  height: var(--space-sm);
  margin: 0 var(--space-xs) 0 0;
}
