{
  "ChildBlockName": "content"
}

<!DOCTYPE html>
<html lang="en">
  <head>
    {{if .Asset.Title}}<title>{{.Asset.Title}}</title>{{end}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{if .Asset.Description}}<meta name="description" content="{{.Asset.Description}}">{{end}}
    <link rel="icon" href="/static/icon.svg">
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/footer.css">
    {{range .Asset.Styles}}<link rel="stylesheet" href="{{.}}">{{end}}
    {{range .Asset.Scripts}}<script defer src="{{.}}" type="module"></script>{{end}}
  </head>
  <body>
    {{template "header" .}}
    <main id="main">
      {{template "content" .}}
    </main>
    {{template "footer" .}}
  </body>
</html>
